{% macro scan_barcode(inputfieldname) %}
<div id="barcodeReader" class="mb-2"></div>
<script>
  // @license magnet:?xt=urn:btih:0b31508aeb0634b347b8270c7bee4d411b5d4109&dn=agpl-3.0.txt AGPL-v3-or-later
   Quagga.init({
        inputStream : {
            type : "LiveStream",
            target : document.querySelector('#barcodeReader'),
            constraints: {
                width: { ideal: 1920 },
                height: { ideal: 1080 },
                facingMode: "environment"
            }
        },
        debug : false,
        frequency: 4,
        locate : true,
        locator : {
            patchSize: "small",
            debug: {
                showCanvas: true,
                showPatches: true,
                showFoundPatches: true,
                showSkeleton: true,
                showLabels: true,
                showPatchLabels: true,
                showRemainingPatchLabels: true,
                boxFromPatches: {
                    showTransformed: true,
                    showTransformedBox: true,
                    showBB: true
                }
            }
        },
        decoder : {
            readers: [
                "upc_reader",
                "upc_e_reader",
                //"ean_reader",
                //"ean_8_reader"
            ],
            debug: {
                drawBoundingBox: true,
                showFrequency: true,
                drawScanline: true,
                showPattern: true
            }
        }
    },function(error) {
        if (error) {
            console.log(error);
            Quagga.stop()
            return
        }
        console.log("Initialization finished. Ready to start");
        Quagga.start();
    });
    
    Quagga.onProcessed(function(result) {
        var drawingCtx = Quagga.canvas.ctx.overlay,
        drawingCanvas = Quagga.canvas.dom.overlay;

        if (result) {
            if (result.boxes) {
                drawingCtx.clearRect(0, 0, parseInt(drawingCanvas.getAttribute("width")), parseInt(drawingCanvas.getAttribute("height")));
                result.boxes.filter(function (box) {
                    return box !== result.box;
                }).forEach(function (box) {
                    Quagga.ImageDebug.drawPath(box, {x: 0, y: 1}, drawingCtx, {color: "blue", lineWidth: 2});
                });
            }

         if (result.box) {
                Quagga.ImageDebug.drawPath(result.box, {x: 0, y: 1}, drawingCtx, {color: "#00F", lineWidth: 2});
            }

            if (result.codeResult && result.codeResult.code) {
                Quagga.ImageDebug.drawPath(result.line, {x: 'x', y: 'y'}, drawingCtx, {color: 'red', lineWidth: 3});
            }
        }
    });

    Quagga.onDetected(function(result){
        let code = result.codeResult.code
        let barcodeInputFieldElement = document.getElementById("{{ inputfieldname }}")  
        barcodeInputFieldElement.value = code
    });
  // @license-end
</script>
{% endmacro %}


{% macro view_categories(categories) %}
<h2><a  class="text-dark" href="/view_categories">Categories</a></h2>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Wikidata Tag</th>
  </thead>
  <tbody>
    {% for category in categories %}
    <tr>
      <td><a href="/view_category/{{ category.off_name }}">{{category.off_name}}</a></td>
      <td>{{category.wikidata}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{% endmacro %}


{% macro show_map(mapbox_api_key, map_center, zoom) %}
<div id="mapid"></div>
<script>
  // @license magnet:?xt=urn:btih:0b31508aeb0634b347b8270c7bee4d411b5d4109&dn=agpl-3.0.txt AGPL-v3-or-later
  var mymap = L.map('mapid', {center: [{{map_center.x|round(3)}}, {{map_center.y|round(3)}}], zoom: {{zoom}}});
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={{ mapbox_api_key }}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      tileSize: 512,
      id: 'mapbox/streets-v11',
      zoomOffset: -1,
      maxZoom: 20,
      minZoom: 1,
  }).addTo(mymap);
  // @license-end
  </script>
{% endmacro %}


{% macro view_osm_imports(osm_imports) %}
    <thead>
        <th>ID</th>
        <th>Status</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Comment</th>
    </thead>
    <tbody>
        {% for osm_import in osm_imports %}
        <tr>
            <td><a href="/view_osm_import/{{ osm_import.id }}">{{osm_import.id}}</a></td>
            <td>{{osm_import.status}}</td>
            <td>{{osm_import.starttime}}</td>
            <td>{{osm_import.endtime}}</td>
            <td>{{osm_import.comment}}</td>
        {% endfor %}
        </tr>
    </tbody>
{% endmacro %}

{% macro show_product(product) %}
     <div class="card mb-3" style="max-width: 540px;">
       <div class="row no-gutters">
	 <div class="col-4 d-none d-sm-block">
	   <img src="{{product.product_versions[0].remote_image_url}}" class="card-img" alt="product image">
	 </div>
	 <div class="col-xs-8">
	   <div class="card-body">
             <h5 class="card-title">{{product.product_versions[0].name}}</h5>
             <p class="card-text">{{product.product_versions[0].product_category.name}} - {{product.product_versions[0].magnitude}} {{product.product_versions[0].magnitude_unit.abbreviation}}</p>
             <p class="card-text"><small class="text-muted">{{product.product_versions[0].barcode}}</small></p>
	   </div>
	 </div>
       </div>
     </div>
{% endmacro %}

{% macro store_picker_map(mapbox_api_key, map_center) %}
    <!--
    Display a map with clickable nodes for each store provided to function.
    The store ID of the currently selected node is entered into any form field element with the id of "store_id". Use this macro inside the same "form-group" div tag as the form field.
      -->
    <button class="btn btn-block btn-primary" type="button" id="button-use-location">Use Location to Find Store</button>
    <div id="storePickerMap"> 
        {{ show_map(mapbox_api_key, map_center, 12) }}
        <script>
          // @license magnet:?xt=urn:btih:0b31508aeb0634b347b8270c7bee4d411b5d4109&dn=agpl-3.0.txt AGPL-v3-or-later
	  var stores = {}

	  // this function assembles the popup text for the map markers
	  function set_popup_text(id) {
	      console.log(id);
	      if (stores[id]['housenumber']) {
		  address = stores[id]['housenumber'] + " " + stores[id]['street'];
	      }
	      else {
		  address = stores[id]['street'];
	      }
	      if (stores[id]['name']) {
		  name = stores[id]['name'];
	      }
	      else if (stores[id]['brand']) {
		  name = stores[id]['brand'];
	      }
	      else {
                  name = "Store"
	      }
	      return "<b>"+name+"</b><br>"+address;
	  }

	  // this function loads the stores from the api endpoint and injects them into the map view
	  function load_stores(lat, lon, radius, loadNearest=false) {
	      xhr = new XMLHttpRequest();
	      url = "find_stores?latitude="+lat+"&longitude="+lon+"&radius="+radius
	      xhr.open('GET', url, true);
	      xhr.responseType = "json";
	      xhr.setRequestHeader('Accept', 'Application/JSON');
	      xhr.addEventListener("load", function(e) {
		  if ("stores" in this.response) {
		      distance = 1000;
		      closest = 0;
		      for (let i = 0; i<this.response.stores.length; i++) {
			  if (!(this.response.stores[i].store_id in stores)) {
			      stores[this.response.stores[i].store_id] = {
				  marker: L.marker([this.response.stores[i]['latitude'], this.response.stores[i]['longitude']]).addTo(mymap),
				  popup: L.popup(),
				  store_id: this.response.stores[i].store_id,
				  latitude: this.response.stores[i]['latitude'],
				  longitude: this.response.stores[i]['longitude']
			      }
			      if ('addr_street' in this.response.stores[i]) {
				  stores[this.response.stores[i].store_id]['street'] = this.response.stores[i]['addr_street'];
			      }
			      if ('addr_housenumber' in this.response.stores[i]) {
				  stores[this.response.stores[i].store_id]['housenumber'] = this.response.stores[i]['addr_housenumber'];
			      }
			      if ('name' in this.response.stores[i]) {
				  stores[this.response.stores[i].store_id]['name'] = this.response.stores[i]['name'];
			      }
			      stores[this.response.stores[i].store_id]['marker'].on('click', function(store_id, e){
				  document.getElementById('store_id').value = store_id
			      }.bind(this.response.stores[i].store_id)).bindPopup(set_popup_text(this.response.stores[i].store_id));	  
			  }
			  newDistance = Math.sqrt((lat-this.response.stores[i]['latitude'])**2+(lon-this.response.stores[i]['longitude'])**2)
			  if (newDistance < distance) {
			      closest = this.response.stores[i].store_id;
			      distance = newDistance;
			  }	  
		      }
		      if (loadNearest) { // if asked, we open the store closest to the user
			  document.getElementById('store_id').value = closest;
			  stores[closest]['marker'].openPopup();
			  mymap.setView([stores[closest]['latitude'], stores[closest]['longitude']],17)
		      }
		  }
	      });
	      xhr.send();
	  }
	  load_stores({{map_center.x|round(3)}}, {{map_center.y|round(3)}}, 24140)
	  // grab the location when the button is clicked
	  document.getElementById('button-use-location').addEventListener("click", function(e) {
	      if(navigator.geolocation) {
		  navigator.geolocation.getCurrentPosition(
		      function(position){
			  load_stores(position.coords.latitude, position.coords.longitude, 100, true);
		      },
		      function(){
			  document.getElementById('button-use-location').insertAdjacentHTML("afterend", '<div class="alert alert-danger alert-dismissible"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <strong>Error: </strong>Unable to find location.</div>')			  
		      });
              } else {
		  document.getElementById('button-use-location').insertAdjacentHTML("afterend", '<div class="alert alert-danger alert-dismissible"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <strong>Error: </strong>Unable to find location.</div>')			  
              }
	     });
            // @license-end
        </script>
    </div>
{% endmacro %}


{% macro location_viewer_map(mapbox_api_key, location) %}
    <!--
    Display a map with a single blank pin.
    -->
    <div> 
        {{ show_map(mapbox_api_key, location, 15) }}
        <script>
            var marker = L.marker([{{location.x}}, {{location.y}}]).addTo(mymap);
        </script>
    </div>
{% endmacro %}
