{% extends 'layout_center_box.html' %}

{% block body %}
{% from '_macros.html' import scan_barcode %}

<h2>Add Product</h2>
<form class="" method="POST">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
    <div class="form-group">
      {{ scan_barcode("barcode-input-field") }}
      {{ form.barcode.label(class="form-control-label") }}
      {% if form.barcode.errors %}
        {{ form.barcode(id="barcode-input-field", class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.barcode.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.barcode(id="barcode-input-field", class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.category.label(class="form-control-label") }}
      {% if form.category.errors %}
        {{ form.category(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.category.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.category(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.magnitude.label(class="form-control-label") }}
      {% if form.magnitude.errors %}
        {{ form.magnitude(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.magnitude.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.magnitude(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.magnitude_unit.label(class="form-control-label") }}
      {% if form.magnitude_unit.errors %}
        {{ form.magnitude_unit(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.magnitude_unit.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.magnitude_unit(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-success") }}
    </div>
  </fieldset>
</form>
{% endblock body%}
