{% extends 'layout_center_box.html' %}

{% block body %}
<h2>Add Store</h2>
<form class="" method="POST">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
    <div class="form-group">
      {{ form.name.label(class="form-control-label") }}
      {% if form.name.errors %}
        {{ form.name(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.name.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.name(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.brand.label(class="form-control-label") }}
      {% if form.brand.errors %}
        {{ form.brand(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.brand.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.brand(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.building.label(class="form-control-label") }}
      {% if form.building.errors %}
      {{ form.building(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.building.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.building(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.street.label(class="form-control-label") }}
      {% if form.street.errors %}
      {{ form.street(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.street.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.street(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.suite.label(class="form-control-label") }}
      {% if form.suite.errors %}
      {{ form.suite(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.suite.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.suite(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.locality.label(class="form-control-label") }}
      {% if form.locality.errors %}
        {{ form.locality(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.locality.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.locality(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.province.label(class="form-control-label") }}
      {% if form.province.errors %}
        {{ form.province(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.province.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.province(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.nation.label(class="form-control-label") }}
      {% if form.nation.errors %}
      {{ form.nation(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.nation.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.nation(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.postal_code.label(class="form-control-label") }}
      {% if form.postal_code.errors %}
        {{ form.postal_code(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.postal_code.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.postal_code(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.comment.label(class="form-control-label") }}
      {% if form.comment.errors %}
        {{ form.comment(class="form-control form-control-lg is-invalid", rows="3") }}
        <div class="invalid-feedback">
          {% for error in form.comment.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.comment(class="form-control form-control-lg", rows="3") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-success") }}
    </div>
  </fieldset>
</form>
{% endblock body%}
