{% extends 'layout_center_box.html' %}

{% block body %}
{% from '_macros.html' import store_picker_map, show_product %}

<h2>Add Price</h2>
    <form class="" method="POST">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
                
                <!-- product_id -->
                {% if product %}
                    {{ show_product(product) }}
                    <div class="form-group">
                        {{ form.product_id(class="form-control form-control-lg d-none") }}
                    </div>
                {% else %}
                    <div class="form-group">
                        {{ form.product_id.label(class="form-control-label") }}
                        {% if form.product_id.errors %}
                            {{ form.product_id(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.product_id.errors %}
                                    <span{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.product_id(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                {% endif %}
                
                <!-- price and currency -->
                <div class="form-group">
                    {{ form.price.label(class="form-control-label") }}
                    <div class="input-group">
                        {% if form.price.errors or form.currency.errors %}
                            {{ form.price(class="form-control form-control-lg is-invalid") }}
                            {{ form.currency(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.price.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="invalid-feedback">
                                {% for error in form.currency.errors %}
                                    <span>{{ error }} {{ form.currency.choices }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.price(class="form-control form-control-lg") }}
                            {{ form.currency(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>

                <!-- store_id -->
                <div class="form-group">
                    {{ form.store_id.label(class="form-control-label") }}
                    {{ store_picker_map(mapbox_api_key, map_center) }}
                    {% if form.store_id.errors %}
                        {{ form.store_id(class="form-control form-control-lg is-invalid", style="display:None") }}
                        <div class="invalid-feedback">
                            {% for error in form.store_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.store_id(class="form-control form-control-lg", style="display:None") }}
                    {% endif %}
                </div>

                <!-- submit -->
                <div class="form-group">
                  {{ form.submit(class="btn btn-block btn-success") }}
                </div>
          </fieldset>
    </form>
{% endblock body%}
