{% extends 'layout_center_box.html' %}

{% block body %}
<form class="" method="POST">
  <input name="off_name" placeholder="OpenFoodFacts Name">
  <input name="wikidata" placeholder="Wikidata Tag">
  <input type="submit">
</form>
<a href="/view_categories">View Categories</a>
{% endblock body%}
