{% extends 'layout_center_box.html' %}

{% block body %}

<h2>Find Products</h2>
On this page you will be able to search for and find products to buy.

<form class="" method="GET">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
    <div class="form-group">
      {{ form.name.label(class="form-control-label") }}
      {% if form.name.errors %}
        {{ form.name(id="name-input-field", class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.name.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.name(id="name-input-field", class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </fieldset>
</form>

<h3>Products</h3>

{% if products|length != 0 %}
    <table class="table">
        <tbody>
            <tr>
                <th>Product Name</th>
                <th>Store</th>
                <th>Price</th>
            </tr>
        {% for product in products %}
            <tr>
                <td><a href="/view_product/{{ product.product_id }}">{{ product.product_name }}</a></td>
                <td>{{ product.store_name }}</td>
		<td>{{ product.price }}</td>
            </tr>
        {% endfor %}
        <tbody>
    </table>
{% endif %}


{% endblock body%}
