<doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Trastr</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="/static/css/leaflet.css">

    <!-- Leaflet JS -->
    <script src="/static/js/leaflet.js"></script>

    <!-- pesky jQuery -->
    <script src="/static/js/jquery-3.3.1.slim.min.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->

    <!-- Bootstrap JS -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Quagga JS for localizing and decoding barcodes -->
    <script src="/static/js/quagga.min.js"></script>
  
    <!--Add link to favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    <style>
        #barcodeReader {
            position: relative;
            width: auto;
            height: 20rem;
        }
        video {
            height: 100%;
            position: absolute;
            border-radius: .3rem;
        }
        .drawingBuffer {
            height: 100%;
            position: absolute;
            border-radius: .3rem;
        }
      .top-navigation {
        background-color: #ccffee /*#40d3d0*/
      }
      .menu-card {
        display:inline-block;
      }
      .menu-card-body {

      }
      .menu-card-text {
        font-size: 1.3em;
      }
      .menu-card-image:hover {
        box-shadow: 0 .3rem .25rem rgba(0,0,0,.075);
      }
      .menu-card-caption {
        position: absolute;
        top: 9%;
        left: 10%;
      }
      .product-card {
      }
      .product-card-body {
      }
      .logo:hover {
        opacity:0.9;
      }
      #mapid {
        height:20rem;
      }
        /* positioning for drawing barcode scanner overlays*/
        /* canvas.drawing, canvas.drawingBuffer { */
            /* position: absolute; */
            /* left: 0; */
            /* right: 0; */
      /* } */
      /* I prefer that table captions be at the top of tables. */
      caption {
	  caption-side: top;
      }
      @media only screen and (max-width: 600px) {
          .tagline {
	      display: none;
	  }
      }
    </style>
    <!-- Define navbar taglines -->
    {% set taglines = ['Automagically find the right groceries',
      'Taking over the world to save you money',
      'Respecting consumers since 2019',
      "Crowdsourced food prices",
      "Vittletastic statistics"]
    %}
  </head>
  <body style="padding-top:4.5rem">
    <header>
      <nav class="navbar navbar-expand-lg fixed-top navbar-light top-navigation">
        <a class="navbar-brand" href='/'>
          <img src="/static/img/trastr-thumb.png" height="30" class="d-inline-block align-top logo" alt="trastr logo">
          Trastr
          <!-- print random tagline -->
          <small class="font-weight-light text-muted ml-3 tagline">{{taglines[range(0,taglines | length) | random]}}</small>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link text-info" href="/view_user">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-info" href="/log_out">Log Out</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link text-info" href="/log_in">Log In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-info" href="/sign_up">Sign Up</a>
              </li>
              {% endif %}
            </ul>
          </div>
      </nav>
    </header>

    <!--Message flashing-->
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          <div class="px-3 px-lg-4">
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

    {% block sublayout%}
    {% endblock %}

    <footer>
      <ul class="nav">
	<li class="nav-item">
	  <a class="nav-link" href="https://gitlab.com/open-price-library/trastr">Source Code</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" href="/freedom" rel="jslicense">Javascript License Information</a>
	</li>
      </ul>
    </footer>
    
  </body>
</html>
