{% extends 'layout_center_box.html' %}

{% block body %}
<h2>Welcome to Trastr</h2>
<hr>
<p>This page will allow you to set up the Trastr instance.</p>
<ol>
  <li><a href='/init_db'>Initialize the database</a></li>
  <li><a href='/populate_units'>Populate magnitude units</a></li>
  <li><a href='/populate_product_categories'>Populate product categories</a></li>
  <li><a href='/populate_store_categories'>Populate store categories</a></li>
  <li><a href='/populate_currencies'>Populate currencies</a></li>
  <li><a href='/populate_permissions'>Populate permissions</a></li>
  <li><a href='/populate_initial_roles'>Populate initial roles</a></li>
  <li><a href='/sign_up_first_user'>Create administrator account<a/></li>
  <li><a href='/import_stores'>Import stores from OpenStreetMap</a></li>
  <li><a href='/find_product'>Go to home page</a></li>
</ol>

{% endblock body %}
