csv{% extends 'layout_center_box.html' %}

{% block body %}
<h2>Upload Prices</h2>
<form class="" method="POST">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
    <div class="form-group">
      {{ form.csv.label(class="form-control-label") }}
      {% if form.csv.errors %}
        {{ form.csv(class="is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.csv.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.csv(class="") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-success") }}
    </div>
  </fieldset>
</form>
{% endblock body%}
