{% extends 'layout_center_box.html' %}

{% block body %}
<h2>Users</h2>
<table class="table">
  <thead class="">
    <th>Username</th>
  </thead>
  <tbody>
    {% for row in result %}
    <tr>
      <td>{{row.username}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{% endblock body %}
