{% extends 'layout_center_box.html' %}

{% block body %}
<h2>Profile</h2>
<a href="/edit_user" class="btn btn-warning m-1" role="button">Edit</a>
<a href="/edit_password" class="btn btn-warning m-1" role="button">Change password</a>
<a href="/view_user_versions" class="btn btn-primary m-1" role="button">View old versions</a>
<table class="table">
    <tbody>
        {% if user.username %}
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
        {% endif %}
        {% if user.email %}
            <tr>
              <th>Email</th>
              <td>{{ user.email }}</td>
            </tr>
        {% endif %}
        {% if user.addr_housenumber %}
            <tr>
              <th>Housenumber</th>
              <td>{{ user.addr_housenumber }}</td>
            </tr>
        {% endif %}
        {% if user.addr_street %}
            <tr>
              <th>Street</th>
              <td>{{ user.addr_street }}</td>
            </tr>
        {% endif %}
        {% if user.addr_unit %}
            <tr>
              <th>Unit</th>
              <td>{{ user.addr_unit }}</td>
            </tr>
        {% endif %}
        {% if user.addr_city %}
            <tr>
              <th>City</th>
              <td>{{ user.addr_city }}</td>
            </tr>
        {% endif %}
        {% if user.addr_state %}
            <tr>
              <th>State</th>
              <td>{{ user.addr_state }}</td>
            </tr>
        {% endif %}
        {% if user.addr_postcode %}
            <tr>
              <th>Postcode</th>
              <td>{{ user.addr_postcode }}</td>
            </tr>
        {% endif %}
        {% if user.magnitude_unit_system.name %}
            <tr>
              <th>Magnitude Unit System</th>
              <td>{{ user.magnitude_unit_system.name }}</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock body %}
