{% extends 'layout_center_box.html' %}

{% block body %}
  <h2>{{product.name}}</h2>
  <div class="row">
    <div class="col-12 col-lg-6">
      <img class="mb-2" src="{{product.remote_image_url}}" alt="product image">
    </div>
    <div class="col-12 col-lg-6">
      <table class="table">
        <tbody>
          <tr>
            <th>Barcode</th>
            <td>{{product.barcode}}</td>
          </tr>
          <tr>
            <th>Product Category</th>
            <td>
              <a href="/view_category/{{product.product_category.name}}">
                {{product.product_category.name}}
              </a>
            </td>
          </tr>
          <tr>
            <th>Product Attributes</th>
            <td>
	      {% for product_attribute in product.product_attributes %}
	      {{product_attribute.name}},
	      {% endfor %}
	    </td>
          </tr>
          <tr>
            <th>Magnitude</th>
            <td>{{product.magnitude}} {{product.magnitude_unit.abbreviation}}</td>
          </tr>
          <tr>
            <th>Lowest Local Prices</th>
            <td>
              {% if prices|length > 0 %}
                {% for price in prices %}
                  {% if price.Price.price == price.Price.price|round(2) %} 
                    ${{ price.Price.price|round(2) }}
                  {% else %}
                    ${{ price.Price.price }} 
                  {% endif %}
                  {% if price.StoreVersion.name %}
                    at <a href="/view_store/{{ price.StoreVersion.store_id }}">{{ price.StoreVersion.name }}</a>
                  {% elif price.StoreVersion.brand %}
                    at <a href="/view_store/{{ price.StoreVersion.store_id }}">{{ price.StoreVersion.brand }}</a>
                  {% else %}
                    at <a href="/view_store/{{ price.StoreVersion.store_id }}">Store</a>
                  {% endif %}
                  {% if price.StoreVersion.addr_street %}
                    {% if price.StoreVersion.addr_housenumber %}
                      ({{ price.StoreVersion.addr_housenumber }} {{ price.StoreVersion.addr_street }})
                    {% else %}
                      ({{ price.StoreVersion.addr_street }})
                    {% endif %}
                  {% endif %}
                  <br>
                {% endfor %}
                <a class="btn btn-warning m-1" type="button" href="/add_price?product_id={{product.product.id}}">Update</a>
              {% else %}
                No price data available
                <a class="btn btn-success m-1" type="button" href="/add_price?product_id={{product.product.id}}">Add</a>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock body %}
