{% extends 'layout_center_box.html' %}

{% block body %}
<h2>Stores</a></h2>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Brand</th>
    <th>Magnitude</th>
    <th>Barcode</th>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>
        <a href="/view_product/{{product.Product.id}}">{{product.Product.product_versions[0].name}}</a>
      </td>
      <td>
        brand
      </td>
      <td>
        magnitude
      </td>
      <td>
        {{product.Product.product_versions[0].barcode}}
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{% endblock body %}
