{% extends 'layout_center_box.html' %}

{% block body %}
  <h2>Price Entry</h2>
  <table class="table">
    <tbody>
      <tr>
        <th>Date</th>
        <td>{{price.Prices.date.date()}}</td>
      </tr>
      <tr>
        <th>UTC Time</th>
        <td>{{price.Prices.date.time()}}</td>
      </tr>
      <tr>
        <th>Price</th>
        <td>${{price.Prices.price/1000}}</td>
      </tr>

      <tr>
        <th>Product Name</th>
        <td>
          <a href="/view_product/{{price.Products.barcode}}">
            {{price.Products.name}}
          </a>
        </td>
      </tr>
      <tr>
        <th>Barcode</th>
        <td>
          <a href="/view_product/{{price.Products.barcode}}">
            {{price.Products.barcode}}
          </a>
        </td>
      </tr>
      <tr>
        <th>Category</th>
        <td>
          <a href="/view_category/{{price.Categories.off_name}}">
            {{price.Categories.off_name}}
          </a>
        </td>
      </tr>
      <tr>
        <th>Magnitude</th>
        <td>{{price.Products.magnitude}} {{price.Magnitude_Units.abbreviation}}</td>
      </tr>
    </tbody>
  </table>
{% endblock body %}
